extends layout

block content
  h1 A game is in progress
  h2 Teams:
  ul
    each team in game.teams  
        li #{team.name} - #{team.score} 
  h2 Capture Points:
  ul
    each point in game.points
        li 
            span(style="background-color:#{point.getOwnerColor()};color:#{point.getOwnerColor()};") [--]
            |  #{point.name} (#{point.ip})              
            | - #{point.getOwnerName()}
        
  script(src="/javascripts/playing.js")        