extends layout

block content
  h1 A game is in progress - #{Math.trunc((game.getRemainingTime()/60000) * 100)/100} minutes remaining
  h2 Teams:
  ul
    each team in game.teams  
        li #{team.name} - #{team.score} 
  h2 Held Points:
  ul
    each point in game.points
        li 
            span(style="background-color:#{point.getOwnerColor()};color:#{point.getOwnerColor()};") [--]
            |  #{point.name} (#{point.ip})              
            | - #{point.getOwnerName()}
        
  script(src="/javascripts/playing.js")        